html, body {
    min-height: 100%;
}

section {

}
.hero-body {
    background: url(/Assets/Images/outerspace.gif);
}

.team {
text-align: justify;
justify-content: space-around;
color: rgb(243, 74, 235);
background-color: rgb(12, 11, 11);
border-radius: 10px;
border: 3px solid whitesmoke;
padding: 5px;
margin: 5px;
width: 90px;
z-index:auto;
}

.container1 {
    margin-left: 160px;
}

#search-btn {
    border-radius: 5px;
    justify-content: space-around;
    margin-top: 10px;
}

#clear-btn {
    border-radius: 5px;
    justify-content: space-around;
    margin-top: 10px;
}

.galaxy {
    max-width: 100vw;
    height: 250px;
    object-fit: cover;
    opacity: .5;
}

.center {
    display: block;
    justify-content: center;
    align-items: center;
  }

#wiki-icon {
    height: auto;
    max-width: 85px;
    width: 100px;
}

#banner {
    position: relative;
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    
}

#banner img {
    width: 128px;
    margin: 2px;
    padding: 5px;
}

#search-history-box {
    overflow: hidden;
}
#youtube-video {
    justify-content: space-evenly;
    object-fit: cover;
    overflow-y: scroll;
}

.card-content {
    overflow:auto;
}


