
.team {
text-align: center;
display: flex;
color: rgb(243, 74, 235);
background-color: rgb(12, 11, 11);
border-radius: 10px;
border: 3px solid whitesmoke;
padding: 3px;
margin: 2px;
}

#youtube-video {
    max-height: 500px;
    overflow: scroll;
}