
.team {
text-align: center;
justify-content: space-around;
color: rgb(243, 74, 235);
background-color: rgb(12, 11, 11);
border-radius: 10px;
border: 3px solid whitesmoke;
padding: 3px;
margin: 2px;
}
#wiki-icon {
    height: auto;
    max-width: 85px;
    width: 100px;
}


#banner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

#banner img {
    width: 128px;
}

#banner h1 {
    margin: 2 0 0 ;
}

#youtube-video {
    max-height: 500px;
    overflow: scroll;
}

